.modal-header.bg-primary
  h6.modal-title.text-light(i18n="section title") Save password
  button.close(
    title="Close",
    i18n-title="close|Tooltip indicating action: close this dialog",
    type="button",
    aria-label="Close",
    (click)="dismissModal()"
  )
    span.text-light(aria-hidden="true") &times;
.modal-body((keyup.enter)="save()")
  .input-group.input-group-sm(
    appFocusWithin,
    [ngClass]="{'is-invalid': passwordName.invalid && (passwordName.dirty || passwordName.touched)}"
  )
    input.form-control.form-control-sm.description-field(
      type="text",
      i18n-placeholder="name or description|Conveys that a name or description should be typed in this input",
      placeholder="Password name or description",
      [formControl]="passwordName",
      autofocus
    )
    .input-group-append
      .input-group-text.btn-group-toggle.p-0
        label.btn.btn-sm.favorite(title="Mark as favorite", i18n-title="@@markAsFavorite")
          input(
            type="checkbox",
            [formControl]="favorite"
            #favoriteChk)
          div(*ngIf="favoriteChk.checked")
            i.fas.fa-star
          div(*ngIf="!favoriteChk.checked")
            i.far.fa-star
  .invalid-feedback.pl-2.mb-2(
    *ngIf="passwordName.errors?.required && (passwordName.dirty || passwordName.touched)",
    i18n="password name required|Lets the user know that a name for the password to be saved needs to be specified@@pwdNameRequired"
  ) Please specify a name or description
  .invalid-feedback.pl-2.mb-2(
    *ngIf="passwordName.errors?.maxlength && (passwordName.dirty || passwordName.touched)"
    i18n="password name max|Lets the user know that a name of less than 50 chars should be specified@@pwdNameMaxLength"
  ) Please specify a name of no more than 50 chars.
  .invalid-feedback.pl-2.mb-2(
    *ngIf="passwordName.errors?.duplicated && (passwordName.dirty || passwordName.touched)"
    i18n="password name duplicated|Lets the user know that the typed name is already in use and another should be specified@@pwdNameDupd"
  ) Please type another name. This one already exists
  button(type="submit", style="display:none")
.modal-footer
  small(i18n) Press ENTER to save or ESC to cancel
