ng-container([formGroup]="form")
  .input-group.input-group-sm.mb-1.password-field(
      appPasswordStrengthMeter,
      appFocusWithin,
      [ngClass]="{'is-invalid': form.password.invalid && form.password.dirty}"
    )
    input.form-control.password-input(
      [type]="form.passwordVisible ? 'text' : 'password'",
      placeholder="Contraseña para abrir el documento",
      formControlName="password"
    )
    .input-group-append
      .btn-group.btn-group-toggle
        label.btn.btn-sm
          input(type="checkbox", formControlName="passwordVisible", #passwordVisible, (change)="togglePasswordVisibility(passwordVisible.checked)")
          div(*ngIf="form.passwordVisible")
            i.fas.fa-eye-slash
          div(*ngIf="!form.passwordVisible")
            i.fas.fa-eye
      div.input-group-text.password-strength
        ng-container([ngSwitch]="form.passwordStrength")
          ng-container(*ngSwitchCase="-1") Strength
          ng-container(*ngSwitchCase="2") Medium
          ng-container(*ngSwitchCase="3") Good
          ng-container(*ngSwitchCase="4") Strong
          //- covers case 0 and 1 which are weak
          ng-container(*ngSwitchDefault) Weak
  .invalid-feedback.pl-2.mb-2(*ngIf="form.password.errors?.required && form.password.dirty") Please specify a password
  input.password-input.form-control.form-control-sm(
    type="password",
    placeholder="Confirmar contraseña",
    formControlName="passwordConfirm",
    [ngClass]="{'is-invalid': form.errors?.mismatch}"
  )
  .invalid-feedback.pl-2(*ngIf="form.errors?.mismatch") Passwords do not match
