.card((dragenter)="prepareForDataTransfer($event.dataTransfer.items[0])")
  h6.card-header.bg-primary.text-light Proteger documento
  form([formGroup]="protectPdf")
    .card-body.border.border-top-0.border-right-0.border-left-0
      .container.p-0
        .row
          .col-9.pr-0
            input.form-control.form-control-sm.bg-color-normal(
              type="text",
              formControlName="fileName",
              placeholder="Arrastre aqui un archivo o de clic en Examinar",
              [ngClass]="{'is-invalid': selectedFile.invalid && selectedFile.dirty}",
              readonly
            )
            .invalid-feedback.pl-2(*ngIf="selectedFile.errors?.notAPdfDocument") Invalid or corrupted PDF file
            .invalid-feedback.pl-2(*ngIf="selectedFile.errors?.required") Please select a file to protect
            input(type="hidden", formControlName="selectedFile")
          .col-3
            button.btn.btn-primary.btn-sm.btn-block(type="button", (click)="browse()") Examinar
    .card-body
      .container.p-0
        .row
          .col
            button.btn.btn-link.btn-sm.pl-1.text-primary(type="button", routerLink="/password-gen") Obtener una contraseña
        .row
          .col-9.pr-0
            .input-group.input-group-sm.mb-1([ngClass]="{'is-invalid': password.invalid && password.dirty}")
              input.password-field.form-control(
                [attr.type]="viewPassword ? 'text' : 'password'",
                placeholder="Contraseña para abrir el documento",
                formControlName="password",
                [ngClass]="{'is-invalid': password.invalid && password.dirty}"
              )
              .input-group-append
                button.btn.input-group-item(type="button", (click)="togglePasswordView()")
                  i.fa.fa-eye(aria-hidden="true")
                span.input-group-text.password-strength(
                  [ngClass]="{\
                    '-1': 'default',\
                    '0' : 'weak',\
                    '1' : 'weak',\
                    '2' : 'medium',\
                    '3' : 'good',\
                    '4' : 'strong'\
                  }[passwordScore]"
                )
            .invalid-feedback.pl-2.mb-2 Please specify a password
            input.form-control.form-control-sm(
              type="password",
              placeholder="Confirmar contraseña",
              [ngClass]="{'is-invalid': protectPdf.invalid && protectPdf.errors?.mismatch}"
              formControlName="passwordConfirm",
            )
            .invalid-feedback.pl-2(*ngIf="protectPdf.invalid && protectPdf.errors?.mismatch") Passwords do not match
          .col-3
            button.btn.btn-primary.btn-block.btn-sm.btn-tall(type="button", (click)="protectDocument()") Proteger
  .card-footer
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-cog(aria-hidden="true")
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-question-circle(aria-hidden="true")
.drop-zone(*ngIf="readyForDataTransfer")
  .drop-zone-layer
    h1
      i.fa.fa-file-pdf-o(aria-hidden="true")
    p Suelte el archivo aqui
  .drop-zone-overlay((dragleave)="cancelDataTransfer()", (drop)="acceptDataTransfer($event.dataTransfer)")


