.card((dragenter)="prepareForDataTransfer($event.dataTransfer.items[0])")
  h6.card-header.bg-primary.text-light Proteger documento
  form([formGroup]="form")
    .card-body.border.border-top-0.border-right-0.border-left-0
      .container.p-0
        .row
          .col-9.pr-0
            input.form-control.form-control-sm.bg-color-normal(
              type="text",
              formControlName="displayName",
              placeholder="Arrastre aqui un archivo o de clic en Examinar",
              [ngClass]="{'is-invalid': fileName.invalid && fileName.dirty}",
              readonly
            )
            .invalid-feedback.pl-2(*ngIf="fileName.errors?.notAPdfDocument && fileName.dirty") Invalid or corrupted PDF file. Please select another file
            .invalid-feedback.pl-2(*ngIf="fileName.errors?.fileAccessError && fileName.dirty") File open in another program. Please select another file
            .invalid-feedback.pl-2(*ngIf="fileName.errors?.required && fileName.dirty") Please select a file to protect
            //- use this field to hold full file name and use it for validation since #displayName only holds filename without path
            input(type="hidden", formControlName="fileName")
          .col-3
            button.btn.btn-primary.btn-sm.btn-block(type="button", (click)="browse()") Examinar
    .card-body
      .container.p-0
        .row
          .col
            button.btn.btn-link.btn-sm.pl-1.text-primary(type="button", routerLink="/password-gen") Obtener una contraseña
        .row
          .col-9.pr-0
            .input-group.input-group-sm.mb-1.password-field(
              appFocusWithin,
              appPasswordStrengthMeter,
              [ngClass]="{'is-invalid': password.invalid && password.dirty}"
            )
              input.form-control.password-input(
                [type]="showPassword ? 'text' : 'password'",
                placeholder="Contraseña para abrir el documento",
                formControlName="password"
              )
              .input-group-append
                .btn-group.btn-group-toggle
                  label.btn.btn-sm
                    input(type="checkbox", value="false", #passwordToggle, (change)="togglePasswordVisibility(passwordToggle.checked)")
                    i.fa(aria-hidden="true", [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
                span.input-group-text.password-strength
            .invalid-feedback.pl-2.mb-2(*ngIf="password.errors?.required && password.dirty") Please specify a password
            input.password-input.form-control.form-control-sm(
              type="password",
              placeholder="Confirmar contraseña",
              formControlName="passwordConfirm",
              [ngClass]="{'is-invalid': form.errors?.mismatch}"
            )
            .invalid-feedback.pl-2(*ngIf="form.errors?.mismatch") Passwords do not match
          .col-3
            .btn-group.d-flex
              button.btn.btn-primary.btn-sm.btn-block.btn-tall(type="button", (click)="protectDocument(1)") Proteger
              .btn-group(ngbDropdown, placement="bottom-right", role="group", aria-label="Protect options dropdown")
                button.btn.btn-primary.dropdown-toggle-split(ngbDropdownToggle)
                .dropdown-menu(ngbDropdownMenu)
                  button.btn-sm.dropdown-item((click)="protectDocument(0)") Overwrite Existing File
                  button.btn-sm.dropdown-item((click)="protectDocument(1)") Save to a New File
                  button.btn-sm.dropdown-item((click)="protectDocument(2)") Save As
  .card-footer
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-cog(aria-hidden="true")
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-question-circle(aria-hidden="true")
.drop-zone(*ngIf="readyForDataTransfer")
  .drop-zone-layer
    h1
      i.fa.fa-file-pdf-o(aria-hidden="true")
    p Suelte el archivo aqui
  .drop-zone-overlay((dragleave)="cancelDataTransfer()", (drop)="acceptDataTransfer($event.dataTransfer)")
