.card((dragenter)="prepareForDataTransfer($event.dataTransfer.items[0])")
  h6.card-header.bg-primary.text-light Proteger documento
  form([formGroup]="form")
    .card-body.border.border-top-0.border-right-0.border-left-0
      .container.p-0
        .row
          .col-9.pr-0
            input.form-control.form-control-sm.bg-color-normal(
              type="text",
              formControlName="fileName",
              placeholder="Arrastre aqui un archivo o de clic en Examinar",
              [ngClass]="{'is-invalid': selectedFile.invalid && selectedFile.dirty}",
              readonly
            )
            .invalid-feedback.pl-2(*ngIf="selectedFile.errors?.notAPdfDocument") Invalid or corrupted PDF file
            .invalid-feedback.pl-2(*ngIf="selectedFile.errors?.required") Please select a file to protect
            input(type="hidden", formControlName="selectedFile")
          .col-3
            button.btn.btn-primary.btn-sm.btn-block(type="button", (click)="browse()") Examinar
    .card-body
      .container.p-0
        .row
          .col
            button.btn.btn-link.btn-sm.pl-1.text-primary(type="button", routerLink="/password-gen") Obtener una contraseña
        .row
          .col-9.pr-0
            app-password-field(formControlName="password")
          .col-3
            button.btn.btn-primary.btn-block.btn-sm.btn-tall(type="button", (click)="protectDocument()") Proteger
  .card-footer
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-cog(aria-hidden="true")
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-question-circle(aria-hidden="true")
.drop-zone(*ngIf="readyForDataTransfer")
  .drop-zone-layer
    h1
      i.fa.fa-file-pdf-o(aria-hidden="true")
    p Suelte el archivo aqui
  .drop-zone-overlay((dragleave)="cancelDataTransfer()", (drop)="acceptDataTransfer($event.dataTransfer)")
