form([formGroup]="passwordOptions")
  .container.p-0
    .row.mb-2
      .col-6
        label(for="passwordLength") Desired password length:
      .col-6
          input.form-control.form-control-sm.d-inline(
            name="passwordLength",
            type="number",
            min="2",
            max="100",
            style="width:76.39px"
            formControlName="passwordLength"
          )
    .row.mb-2
      .col-6
        app-password-option([label]="'Use lower-case'", formControlName="lowerCase")
      .col-6
        app-password-option([label]="'Use upper-case'", formControlName="upperCase")
    .row.mb-2
      .col-6
        app-password-option([label]="'Use numbers'", formControlName="numbers")
      .col-6
        app-password-option([label]="'Use special characters'", formControlName="specialChars")
