form([formGroup]="passwordOptions")
  .container.p-0
    .row.mb-2
      .col.col-left
        label(for="passwordLength", [ngClass]="{ 'text-danger': passwordLength.errors }") Password length
      .col
        input#passwordLength.form-control.form-control-sm.d-inline(
          type="number",
          min="0",
          max="100",
          style="width:76.39px",
          [ngClass]="{ 'is-invalid': passwordLength.errors }"
          formControlName="passwordLength"
        )
        .invalid-feedback.d-inline.ml-1
          span(*ngIf="passwordLength.errors?.min") Please specify a bigger number
          span(*ngIf="passwordLength.errors?.max") Please specify a smaller number
          span(*ngIf="passwordLength.errors?.required") Please specify a number between 0 and 100
    .row.mb-2
      .col
        app-password-option([label]="'Use lower-case'", formControlName="lowerCase")
      .col
        app-password-option([label]="'Use numbers'", formControlName="numbers")

    //.row.mb-2 [ngClass]="{ 'is-invalid': passwordLength.errors }"
      .col

      .col
    .row.mb-2
      .col
        app-password-option([label]="'Use upper-case'", formControlName="upperCase")
      .col
        app-password-option([label]="'Use special characters'", formControlName="specialChars")
