form([formGroup]="passwordOptions")
  .container.p-0
    .row.mb-2
      .col.col-left
        label(for="passwordLength", [ngClass]="{ 'text-danger': passwordLength.errors }" i18n="label|Length of password") Password length
      .col
        input#passwordLength.password-input.form-control.form-control-sm.d-inline(
          type="number",
          min="1",
          max="32",
          style="width:76.39px",
          [ngClass]="{ 'is-invalid': passwordLength.errors }"
          formControlName="passwordLength"
        )
        .invalid-feedback.d-inline.ml-1
          span(*ngIf="passwordLength.errors?.min", i18n="min msg") Please specify a bigger number
          span(*ngIf="passwordLength.errors?.max", i18n="max msg") Please specify a smaller number
          span(*ngIf="passwordLength.errors?.required", i18n="password length required msg") Please specify a number between 1 and 32
    .row.mb-2
      .col
        app-password-option(
          label="Use lower-case",
          i18n-label="uc label|Indicates if a lower chars are to be used then generating a password",
          formControlName="lowerCase")
      .col
        app-password-option(
          label="Use numbers",
          i18n-label="un label|Indicates if number are to be used when generating a password",
          formControlName="numbers")
    .row.mb-2
      .col
        app-password-option(
          label="Use upper-case",
          i18n-label="uc label|Indicates if upper chars are to be used when generating a password"
          formControlName="upperCase")
      .col
        app-password-option(
          label="Use special characters",
          i18n-label="sc label|Indicates if special chars are to be used when generating a password"
          formControlName="specialChars")
