// Copyright (C) 2018 Bernardo Balvanera
//
// This file is part of ProtegoPdf.
//
// ProtegoPdf is a free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <http://www.gnu.org/licenses/>.

app-card(cardTitle="Password Manager", returnRoute="/", i18n-cardTitle="section title")
  .card-body.border.border-top-0.border-right-0.border-left-0
    form.form-row([formGroup]="form")
      .col-4
        input.form-control.form-control-sm(
          type="text",
          i18n-placeholder,
          placeholder="Password name",
          formControlName="name",
          [ngClass]="{'is-invalid': form.name.invalid && form.name.dirty}"
        )
        .invalid-feedback.pl-2.mb-2(
          *ngIf="form.name.errors?.required && form.name.dirty",
          i18n="@@pwdNameRequired"
        ) Please specify a name or description
        .invalid-feedback.pl-2.mb-2(
          *ngIf="form.name.errors?.maxlength && form.name.dirty",
          i18n="@@pwdNameMaxLength"
        ) Please specify a name of no more than 50 chars.
        .invalid-feedback.pl-2.mb-2(
          *ngIf="form.name.errors?.duplicated && form.name.dirty",
          i18n="@@pwdNameDupd"
        ) Please type another name. This one already exists
      .col-5
        input.form-control.form-control-sm.password-input(
          type="password",
          i18n-placeholder="password field"
          placeholder="Password",
          formControlName="password",
          [ngClass]="{'is-invalid': form.password.invalid && form.password.dirty}"
        )
        .invalid-feedback.pl-2.mb-2(
          *ngIf="form.password.errors?.required && form.password.dirty",
          i18n="@@pwdRequiredMessage"
        ) Please specify a password
        .invalid-feedback.pl-2.mb-2(
          *ngIf="form.password.errors?.maxlength && form.password.dirty",
          i18n="@@pwdMaxLength"
        ) Please specify a password of no more than 32 chars.
      .col-1
        .btn-group-toggle
          label.btn.btn-sm.favorite
            input(
              type="checkbox",
              formControlName="favorite",
              #favoriteChk)
            div(
              *ngIf="favoriteChk.checked",
              title="Mark as favorite",
              i18n-title="mark favorite action|Tooltip indicating to mark item as favorite@@markAsFavorite"
            )
              i.fas.fa-star
            div(
              *ngIf="!favoriteChk.checked",
              title="Mark as favorite",
              i18n-title="@@markAsFavorite"
            )
              i.far.fa-star
      .col-2
        button.btn.btn-sm.btn-block.btn-primary(type="submit", (click)="save()", i18n="save button") Save
  .card-body.favorites-table-body.h-75
    table.table.table-sm.table-hover
      thead
        tr
          th(scope="col", i18n="column title") Name
          th(scope="col", i18n="column title") Password
          th.text-center(scope="col", i18n="column title") Favorite
          th(scope="col")
      tbody
        tr(*ngFor="let pwd of savedPasswords | async; trackBy: getItemId")
          td.name-column
            a.text-primary(routerLink="/", [queryParams]="{ pwd: pwd.password }") {{pwd.name}}
          td *******
          td.favorite-column
            div(
              (click)="updateFavorite(pwd.name)",
              title="Mark as favorite",
              i18n-title="@@markAsFavorite"
            )
              i.fa-star([ngClass]="{'far': !pwd.favorite, 'fas': pwd.favorite}")
          td.delete-column
            div(
              (click)="deletePassword(pwd.name)",
              title="Delete",
              i18n-title="delete action|Tooltip indicating delete action"
            )
              i.far.fa-trash-alt.text-danger
app-ui-messages
  app-ui-message(
    id="Success_Message",
    i18n="@@passwordSaved") Your password has been saved
