form([formGroup]="form")
  #password-field.input-group.input-group-sm.mb-1(
    appFocusWithin,
    appPasswordStrengthMeter,
    [ngClass]="{'is-invalid': password.invalid && password.dirty}"
  )
    input.form-control.password-input(
      [type]="showPassword ? 'text' : 'password'",
      placeholder="Contraseña para abrir el documento",
      formControlName="password"
    )
    .input-group-append
      .btn-group.btn-group-toggle
        label.btn.btn-sm
          input(#togglePassword type="checkbox", value="false", (change)="togglePasswordVisibility(togglePassword.checked)")
          i.fa(aria-hidden="true", [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
      span.input-group-text.password-strength
  .invalid-feedback.pl-2.mb-2 Please specify a password
  input.password-input.form-control.form-control-sm(
    type="password",
    placeholder="Confirmar contraseña",
    formControlName="passwordConfirm",
    [ngClass]="{'is-invalid': form.errors?.mismatch}"
  )
  .invalid-feedback.pl-2 Passwords do not match
